[submodule "packages/mpr-package1"]
	path = packages/mpr-package1
	url = git@github.com:GaborTorma/mpr-package1.git
[submodule "packages/mpr-package2"]
	path = packages/mpr-package2
	url = git@github.com:GaborTorma/mpr-package2.git
[submodule "apps/mpr-app1"]
	path = apps/mpr-app1
	url = git@github.com:GaborTorma/mpr-app1.git
[submodule "layers/test-layer"]
	path = layers/test-layer
	url = https://github.com/GaborTorma/test-layer
