shamefully-hoist = true
shared-workspace-lockfile = false
save-workspace-protocol = false
link-workspace-packages = true
prefer-workspace-packages = true
@gabortorma/mpr-package1:registry=https://npm.pkg.github.com
@gabortorma/mpr-package2:registry=https://npm.pkg.github.com
